# --- Backend (Python) ---
backend/venv/
backend/.venv/
backend/env/
backend/ENV/
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/*.so
backend/.Python
backend/build/
backend/dist/
backend/*.egg-info/

# --- Environment Variables and Secrets ---
backend/.env
frontend/.env
frontend/.env.local

# --- Python Compiled Files (qualquer lugar) ---
__pycache__/


# --- IDE Settings (VS Code, PyCharm) ---
.vscode/
.idea/

# --- Operating System Files ---
.DS_Store
Thumbs.db

# --- Docker and Logs ---
*.log
.docker/

# --- Frontend (Node.js / React) ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
frontend/dist/
frontend/dist-ssr/
*.local